# ==============================================================================
# Supabase API & Auth Configuration
# ==============================================================================
NEXT_PUBLIC_SUPABASE_URL=https://<project-ref>.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sbp_...
NEXT_SERVICE_ROLE_KEY=eyJ...

# ==============================================================================
# Supabase PostgreSQL Database Connection (Wajib untuk Prisma ORM)
# ==============================================================================
DATABASE_URL="postgresql://postgres.<project-ref>:<db-password>@aws-0-ap-southeast-1.pooler.supabase.com:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres.<project-ref>:<db-password>@aws-0-ap-southeast-1.pooler.supabase.com:5432/postgres"